<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
            crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
            rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style.css">
    <title>Learning vue</title>
</head>
<body>
    <h1 style="text-align: center;">Demonstração de Estruturas de Dados</h1>

    <div id="app">
        <div class="container">
            <div class="row justify-content-center">
                <div class="input-group mb-3" >
                    <label class="input-group-text" for="inputGroupSelect">Tipo de Dado</label>
                    <select class="form-select" v-model="selected" @change="validateChange()" id="inputGroupSelect">
                        <option value="selecione" selected>Selecione</option>
                        <option value="simples">Lista Ligada Simples</option>
                        <option value="dupla">Lista Ligada Dupla</option>
                        <option value="circular">Lista Circular</option>
                        <option value="pilha">Pilha</option>
                        <option value="fila">Fila</option>
                    </select>
                    <div class="input-group-text">
                        <input v-model="inputDelete" @click="updateButton" class="form-check-input mt-0" type="checkbox">
                    </div>
                    <input v-model="key" @keyup.enter="mediator($event)" :readonly="readOnlyInput && inputDelete" type="number" 
                            class="form-control" id="inputNumber">
                    <button v-if="!inputDelete" @click="push($event)" class="btn btn-primary" type="button">{{ buttonMessage }}</button>
                    <button v-else @click="pop($event)" class="btn btn-danger" type="button">{{ buttonMessage }}</button>
                    <select class="form-select" v-model="direction" id="directionGroupSelect">
                        <option selected value="vertical">Vertical</option>
                        <option value="horizontal">Horizontal</option>
                    </select>
                    <label class="input-group-text clickable" v-bind:style="{ background: cleanBtnColor }" @click="clean()">Esvaziar</label>
                </div>
            </div>
        </div>
        <div v-if="message" class="alert alert-warning" role="alert">
            Aviso: {{ message }}
        </div>
        <br>
        <br>
        <div class="container">
            <div v-if="direction == 'vertical'" class="row justify-content-evenly">
                <div class="col">
                    <section v-if="selected == 'simples'" v-for="node in arr" class="flex-container-col nowrap">
                        <div @click="selectNode(node)" class="flex-node-col">{{ node }}</div>
                        <div class="horizontal-pointers">
                            <div @click="pointerCall(1, node)" v-if="node != 'null'" class="ptr next">
                                <i class="bi bi-arrow-down"></i>
                            </div>
                        </div>
                    </section>
                    <section v-if="selected == 'dupla'" class="flex-container-col nowrap">
                        <section v-for="node in arr" class="flex-container-col nowrap">
                            <div @click="selectNode(node)" class="flex-node-col">
                                {{ node != 'null_a' && node != 'null_b' ? node : 'null' }}
                            </div>
                            <div v-if="node != 'null_b'" class="horizontal-pointers">
                                <div v-if="this.arr.findIndex(element => element == node) != this.arr.length - 2" @click="pointerCall(0, node)" class="ptr last">
                                    <i class="bi bi-arrow-up"></i>
                                </div>
                                <div v-else class="ptr nulo"></div>
                                <div v-if="node != 'null_a'" @click="pointerCall(1, node)" class="ptr next">
                                    <i class="bi bi-arrow-down"></i>
                                </div>
                                <div v-else class="ptr nulo"></div>
                            </div>
                        </section>
                    </section>
                    <section v-if="selected == 'circular'" class="flex-container-col nowrap">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <section v-for="node in arr" class="flex-container-col nowrap">
                            <div v-if="node == 'head'" class="horizontal-pointers">
                                <div @click="pointerCall(1, node)" class="ptr next">
                                    <i class="bi bi-arrow-down"></i>
                                </div>
                                <div @click="pointerCall(0, node)" class="ptr last">
                                    <i class="bi bi-arrow-up"></i>
                                </div>
                            </div>
                            <div @click="selectNode(node)" class="flex-node-col">{{ node }}</div>
                            <div class="horizontal-pointers">
                                <div @click="pointerCall(1, node)" class="ptr next">
                                    <i class="bi bi-arrow-down"></i>
                                </div>
                                <div @click="pointerCall(0, node)" class="ptr last">
                                    <i class="bi bi-arrow-up"></i>
                                </div>
                            </div>
                        </section>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </section>
                    <section v-if="selected == 'pilha' || selected == 'fila'" class="flex-container-col nowrap">
                        <section v-for="node in arr" class="flex-container-col nowrap">
                            <div @click="selectNode(node)" class="flex-node-col">{{ node }}</div>
                            <div class="horizontal-pointers">
                                <div class="ptr divisoria"></div>
                            </div>
                        </section>
                    </section>
                </div>
                <div class="col">
                    <div class="card">
                        <h5 class="card-title">Valores do Nó:</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ selectedNode }}</h6>
                    </div>
                </div>
            </div>
            <div v-if="direction == 'horizontal'" class="col">
                <section v-if="selected == 'simples'" class="flex-container nowrap">
                    <section v-if="selected == 'simples'"  v-for="node in arr" class="flex-container nowrap">
                        <div @click="selectNode(node)" class="flex-node">{{ node }}</div>
                        <div class="vertical-pointers">
                            <div @click="pointerCall(1, node)" v-if="node != 'null'" class="ptr-horizontal next">
                                <i class="bi bi-arrow-right"></i>
                            </div>
                        </div>
                    </section>
                </section>
                <section v-if="selected == 'dupla'" class="flex-container nowrap">
                    <section v-for="node in arr" class="flex-container nowrap">
                        <div @click="selectNode(node)" class="flex-node">
                            {{ node != 'null_a' && node != 'null_b' ? node : 'null' }}
                        </div>
                        <div v-if="node != 'null_b'" class="vertical-pointers">
                            <div v-if="node != 'null_a'" @click="pointerCall(1, node)" class="smallptr=horizontal next">
                                <i class="bi bi-arrow-right"></i>
                            </div>
                            <div v-else class="smallptr=horizontal nulo"></div>
                            <div v-if="this.arr.findIndex(element => element == node) != this.arr.length - 2" @click="pointerCall(0, node)" class="smallptr=horizontal last">
                                <i class="bi bi-arrow-left"></i>
                            </div>
                            <div v-else class="smallptr=horizontal nulo"></div>
                        </div>
                    </section>
                </section>
                <section v-if="selected == 'circular'" class="flex-container nowrap">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <section v-for="node in arr" class="flex-container nowrap">
                        <div v-if="node == 'head'" class="vertical-pointers">
                            <div @click="pointerCall(1, node)" class="smallptr-horizontal next">
                                <i class="bi bi-arrow-right"></i>
                            </div>
                            <div @click="pointerCall(0, node)" class="smallptr-horizontal last">
                                <i class="bi bi-arrow-left"></i>
                            </div>
                        </div>
                        <div @click="selectNode(node)" class="flex-node">{{ node }}</div>
                        <div class="vertical-pointers">
                            <div @click="pointerCall(1, node)" class="smallptr-horizontal next">
                                <i class="bi bi-arrow-right"></i>
                            </div>
                            <div @click="pointerCall(0, node)" class="smallptr-horizontal last">
                                <i class="bi bi-arrow-left"></i>
                            </div>
                        </div>
                    </section>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </section>
                <section v-if="selected == 'pilha' || selected == 'fila'" class="flex-container nowrap">
                    <section v-for="node in arr" class="flex-container nowrap">
                        <div @click="selectNode(node)" class="flex-node">{{ node }}</div>
                        <div class="vertical-pointers">
                            <div class="ptr-horizontal divisoria"></div>
                        </div>
                    </section>
                </section>
                <br>
                <br>
                <div class="row">
                    <div class="card">
                        <h5 class="card-title">Valores do Nó:</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ selectedNode }}</h6>
                        <h5 v-if="selectedNode" class="card-title">Ao ser deletado:</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>