
/* Estilo dos elementos verticais */

.divisoria { background: black; }

/* .nulo { background: #c2c4c5; } */

.fundo { background: #fff; }
  
.bi-arrow-right { color: #fff;  }

.bi-arrow-up { color: #fff; }

.bi-arrow-down { color: #fff; }

.bi-arrow-left { color: #fff; }

.center-one-horizontal {
    margin-left: 50px; 
}

.center-two-horizontal {
    margin-left: 22px; 
}

.center-one-vertical {
    margin-top: 40px; 
}

.center-two-vertical {
    margin-top: 25px; 
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;    
}

.flex-container-col {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.flex-node {
    background: #e9ecef;
    width: 120px;
    height: 100px;
    font-size: 1.6em;
    text-align: center;
    flex-direction: row;
    cursor: pointer;
}

.flex-node-col {
    background: #e9ecef;
    width: 120px;
    height: 100px;
    font-size: 1.6em;
    text-align: center;
    flex-direction: column;
    cursor: pointer;    
}

.horizontal-pointers {
    width: 120px;
    height: 25px;
    display: flex;   
    flex-direction: row;
    cursor: pointer;
}

.vertical-pointers {
    width: 25px;
    height: 100px;
    display: flex;   
    flex-direction: column;
    cursor: pointer;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.ptr {
    width: 120px;
    height: 25px;  
}

.smallptr {
    width: 60px;
    height: 25px;  
}

.ptr-horizontal {
    width: 25px;
    height: 100px;
}

.smallptr-horizontal {
    width: 25px;
    height: 50px;
}

.next { 
    width: 100%;
    height: 100%;
    background: #0060df; 
}

.next-light { 
    width: 100%;
    height: 100%;
    background: #4789e0; 
}

.next-too-light { 
    width: 100%;
    height: 100%;
    background: #74a1dd; 
}

.last {
    width: 100%;
    height: 100%;
    background: #d53343; 
}

.last-light {
    width: 100%;
    height: 100%;
    background: #da5865; 
}

.last-too-light {
    width: 100%;
    height: 100%;
    background: #d6868e; 
}

.nulo {
    width: 100%;
    height: 100%;
    background: #a0a2a3;
}

/* OTHERS */

.clickable {
    cursor: pointer;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 2.3px;
    margin-bottom: 2.3px;
    margin-left: 3px;
    margin-right: 3px;
}

.node-text  {
    margin-top: 25px;
}

.horizontal {
    margin: center;
    align-items: center;
}
